<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoProtobuf" version="0.1.1.0-alpha" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" />
  <package id="protobuf-net-data" version="2.0.7.668" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.0.394" targetFramework="net45" />
  <package id="TagCache.Redis" version="1.0.0.2" targetFramework="net45" />
  <package id="TagCache.Redis.ProtoBuf" version="1.0.0.2" targetFramework="net45" />
</packages>